<?xml version="1.0" ?>
<robot name="urdf_robot">
  <link name="baseLink">
    <visual>
      <geometry>
        <sphere radius="0.045"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.045"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.045"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.045"/>
    </collision>
    <inertial>
      <mass value="3.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0.045"/>
    </inertial>
  </link>
</robot>
