<?xml version="1.0" ?>
<robot name="tabletop">

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <link name="baseLink">
    <visual>
      <geometry>
        <box size="0.6 2.0 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0 -0.05"/>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.6 2.0 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0 -0.05"/>
      <contact_coefficients mu="3.0" />
    </collision>
    <inertial>
      <mass value="5.0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>
  </link>
</robot>
